* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
}

/* HEADER */
header {
    width: 100%;
    padding: 15px 20px;
    background: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.perfil {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
}

/* CONTENIDO */
main {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foto, .texto {
    width: 200px;
    height: 150px;
    background: white;
    border: 2px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    width: 100%;
    background: #e6e6e6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
}

main {
    flex: 1;
}
